
<link href="css/base.main.css" rel="stylesheet">

<div class="row" style="padding-top: 20px;">
<!--导航-->
<div id="left-side" class="col-sm-1 col-md-2">
<div class="panel-group hide-sm nav-sitemenu " id="nav-accordion">
 <!-- 1 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">3</span>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-1">
          
          <i class="icon-male"></i>
          
          基础信息
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-1" class="list-group panel-collapse collapse" style="height: 0px;">
      
      <a href="/app/continent/" class="list-group-item">
        <i class="icon-fixed-width icon-globe"></i>
        Continents
      </a>
      
      <a href="/app/country/" class="list-group-item">
        <i class="icon-fixed-width icon-flag"></i>
        Countries
      </a>
      
      <a href="/app/kitchensink/" class="list-group-item">
        <i class="icon-fixed-width icon-briefcase"></i>
        Kitchen sinks
      </a>
      
    </div>
  </div>
  <!--  2 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">3</span>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-2">
          
          <i class="icon-fixed-width icon-lock"></i>
          
          Auth
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-2" class="list-group panel-collapse collapse">
      
      <a href="/auth/group/" class="list-group-item">
        <i class="icon-fixed-width icon-group"></i>
        组
      </a>
      
      <a href="/auth/permission/" class="list-group-item">
        <i class="icon-fixed-width icon-lock"></i>
        权限
      </a>
      
      <a href="/auth/user/" class="list-group-item">
        <i class="icon-fixed-width icon-user"></i>
        用户
      </a>
      
    </div>
  </div>
  <!-- 3 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">1</span>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-3">
          
          <i class="icon-fixed-width icon-comment"></i>
          
          Comments
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-3" class="list-group panel-collapse collapse">
      
      <a href="/comments/comment/" class="list-group-item">
        <i class="icon-fixed-width icon-comment"></i>
        评论
      </a>
      
    </div>
  </div>
  <!-- 4  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">5</span>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-4">
          
          <i class="icon-fixed-width icon-exclamation-sign"></i>
          IDC Management
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-4" class="list-group panel-collapse collapse">
      
      <a href="/host/host/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Host
      </a>
      
      <a href="/host/hostgroup/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Host Group
      </a>
      
      <a href="/host/maintainlog/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Maintain Log
      </a>
      
      <a href="/host/idc/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        IDC
      </a>
      
      <a href="/host/accessrecord/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Access Record
      </a>
      
    </div>
  </div>
 <!-- 5  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">2</span>
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-5">
          
          <i class="icon-fixed-width icon-exchange"></i>
          
          Reversion
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-5" class="list-group panel-collapse collapse">
      
      <a href="/reversion/revision/" class="list-group-item">
        <i class="icon-fixed-width icon-exchange"></i>
        Revisions
      </a>
      
      <a href="/reversion/version/" class="list-group-item">
        <i class="icon-fixed-width icon-file"></i>
        Versions
      </a>
      
    </div>
  </div>
  
  
</div> 
<!-- end nav -->
</div> 


    
<!--右边内容-->
<div class="col-md-10"> 