<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="mrlong.com@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mrlong app</title>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head> 
  
  <body>
    <h2>找回密码</h2>
    
  
  </body>
  
</html>