#body-content {
  margin-top: 65px; 
  margin-left: 0px;
  margin-right: 0px;
}

.container{
/*
  margin: 10px;
  padding-top:10px;
  padding :10px;
*/
  width: auto;
}


/*左边导航*/
.panel .panel-heading .icon{
  float: right;
  top: 50%;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 2px;
}
.panel .panel-heading .badge { float: right; top: 50%; margin-left: 10px;}
.panel.no_title .panel-heading{
  display: none;
}

.panel .panel-body.nopadding{
  padding: 0px;
}