<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="mrlong.com@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mrlong app</title>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap-theme.min.css">
    
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>
<body>
<div class="container1">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container"> 
        
      <div class="navbar-header">
        <a class="navbar-brand navbar-title" href="/" style="color:#0088CC;">微信公众平台</a>
      </div>
        
      <div class="collapse navbar-collapse navbar-ex9-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页</a></li>

          <li><a href="#">功能介绍</a></li>
          <li><a href="/home">管理中心</a></li>          

        </ul>

        <%if(!locals.curruser){%>

            <form class="navbar-form navbar-right pull-right" role="form">
              <a href="/login" class="btn btn-success">登录</a>
              <a href="/signup" class="btn btn-default ">注册</a>
            </form>

          <%}%>

        <%if(locals.curruser){%>
          <p class="navbar-text pull-right">
            <img id="navimg" style="width:  20px;height:20px;" src="/img/no_head.png" class="img-rounded">
            <a href="/vip" class="navbar-link"><%=locals.curruser.memb_name%></a>! 
            <span class="label label-warning"><a href="/logout" class="navbar-link">退出</a></span>
          </p>
        <%}%>
      </div>
      
    </div> 
  </nav>

<div class="main box" style="margin-top:50px">



